* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Quicksand;
    font-style: normal;


}

header,
main {
    padding: 0% 10%;
}


/* cmn style */

.btn-primary {
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    color: #FFF;
    background: var(--Black, #111);
}


.hide {
    display: none;
}



/* header  */

header {
    background: var(--White, #F7F7F7);
}


/* nav section */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 3.8rem;

}

.logo>h3 {

    color: var(--Black, #111);
    font-size: 2rem;
    font-weight: 700;
}

.logo {

    display: flex;
    align-items: center;
}


.nav-options a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-options li {

    list-style: none;


}

ul li:nth-child(1) a {
    color: var(--Orange, #FEA301);
}

ul li:nth-child(2) a {
    color: var(--Sky-Blue, #01ACFD);
}

ul li:nth-child(3) a {
    color: #05D4DF;
}

ul li:nth-child(4) a {
    color: #5D58EF;
}

.nav-options ul {
    display: flex;
    gap: 2.4rem;
}

.nav-btn {
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    color: #FFF;
    background: var(--Orange, #FEA301);
}


/* Banner-section */


.banner-section {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

}



.banner-heading {

    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.banner-description {
    color: var(--Black, #111);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}


.b-img {
    width: 100%;
}



/* Main  */

main {

    background: url(/assets/bg.png)
}

/* Standard Curriculum section */

.curriculum {
    padding: 3.2rem 0;
    text-align: center;
}

.section-title {
    color: #000;
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 5rem;
}

.c-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    padding-bottom: 5rem ;
}

.c-card {
    padding: 3.25rem 2.3rem;
    border-radius: 1.2rem;
    border: 0.943px solid #DEF5FF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.c1 {
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.c2 {

    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;

}

.c3 {
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;


}

.c-card-title {
    padding: 2rem 0;
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700;

}

.c-card-description{

    color: #808080;
font-size: 1rem;
font-weight: 500;
padding-bottom: 2rem;
}

.c-card a{
    text-decoration: none;
font-size: 1rem;
font-weight: 700;
}


.lr-b{
    border-radius: 50%;
background: var(--Orange, #FEA301);
border: none;
    padding: 1rem 1.2rem;
    
}

.fa-solid{
    color: #FFF;
  font-size: 1.8rem;
}






/* Media query for mobile devices */

@media screen and (max-width: 768px) {


/* banner section */

    .banner-section {
        flex-direction: column-reverse;
        text-align: center;
    }



    /* Standard Curriculum section */

.c-card-container {
    grid-template-columns: repeat(1,1fr);
}

}